[Unit]
Description=Local system suspend actions
Before=sleep.target

[Service]
Type=oneshot
ExecStart=-/etc/pm/sleep.sh

[Install]
WantedBy=sleep.target
