[Unit]
Description=Awesome WM

[Service]
ExecStart=/usr/bin/awesome
ExecStop=/usr/local/bin/awesome-quit
Restart=on-failure

[Install]
WantedBy=wm.target